body {
margin: 170px 0 0 0;
font-family: "courier new";

background: #212121;
color: white;
line-height: 2;
}

h1.title {

  text-align: center;
  background-color: rgb(52, 53, 54);
    font-family: garamond, "courier new";
    font-size: 3em;
    color:white;
    padding: 3px -5px;
    margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;


  }

}






.gotoplay a {
  text-decoration: none;
  color: white;
}

h2 {

  color: #ffffff;
  font-family: garamond;
  font-size: 2.0em;
  border: 1px solid white;
  text-align: center;
}

img {

  width: 100%;

}



p {
margin-top: 0;
margin-bottom: 18px;
border: 1px solid white;
padding:10px;
text-align: center;

font-size: 1em;
line-height: 2.4;
color: white;
font-family: "courier new", garamond, helvetica, verdana, sans-serif;

}


ul{

}


.everything {

/*border: 1.5px solid white;*/
width: 90%;
margin: 0 auto;
max-width: 800px;

}

.cover {
float:left;
width:48%;
margin-left: 15px;
margin-top: 24px;
}

.intro {
  float:right;
width:48%;
}

.videobox{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 12px;
  


}

.videobox iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  
}

@media screen and (max-width:800px) {

  .cover {
    float: none;
    width:auto;
  }
  .intro {
    float:none;
    width:auto;
  }
  .videobox {
    float:none;
    width:auto;
  }
  .videobox iframe {
    float:none;
    width:auto;
  }

}
